$font-stack: Helvetica, sans-serif
// $primary-color: #140524
// $secondary-color: #bd164e
$light-primary-color: #17ae9d
$light-secondary-color: #fff
$light-font-color: white

$dark-primary-color: #17ae9d
$dark-secondary-color: #171d1d
$dark-font-color: black
$BASE_URL:'https://arsalanmughal23.github.io/portfolio'
// $BASE_URL:'http://127.0.0.1:8080'

@mixin theme($primary-color, $secondary-color, $font-color)
  --primary-color: #{$primary-color}
  --secondary-color: #{$secondary-color}
  --font-color: #{$font-color}
  transition: 0.5s

h1,h2,h3,h4,h5,h6
  margin: 0px

h2
  font-size: 62px
  font-weight: 900
  line-height: 56px
h3
  font-size: 46px
  font-weight: 900
  line-height: 56px
h4
  font-size: 28px
h5
  font-size: 24px
h6
  font-size: 20px

body.light-theme
  @include theme($light-primary-color, $light-secondary-color, $dark-font-color)

body.dark-theme
  @include theme($dark-primary-color, $dark-secondary-color, $light-font-color)

%text-decor-none
  text-decoration: none
  color: inherit

%btn
  border-radius: 50px
  border-color: transparent
  cursor: pointer
  width: max-content

%btn-sm
  @extend %btn
  padding: 5px 15px
%btn-lg
  @extend %btn
  font-size: 18px
  padding: 8px 20px

%button-primary
  color: var(--font-color)
  border-radius: 50px

%button-primary-active
  background: var(--primary-color)
  color: $light-font-color

%button-outline-primary
  background-color: transparent
  color: var(--font-color)
  border-color: $dark-primary-color

%button-glow-primary
  box-shadow: 0px 5px 30px rgba(23, 174, 157, 0.5)
  transition: box-shadow 0.2s

@keyframes fadeIn
  0%
    transform: scale(1)
    opacity: 1
  50%
    transform: scale(0.5)
    opacity: 0
  100%
    transform: scale(1)
    opacity: 1

  
body#body>*>.inner
  padding: 0 5rem

body#body
  background: var(--secondary-color)
  font: 100% $font-stack
  // color: var(--primary-color)
  padding: 0px
  margin: 0px

  section.section
    padding: 3rem 0px 1rem
    .inner
      .title
        color: var(--font-color)
        display: flex
        justify-content: center
      .container
        display: flex
        justify-content: space-evenly
        flex-wrap: wrap
        text-align: center
        padding: 20px 0px
        gap: 30px 10px

  header.header nav.navbar
    z-index: 1
    div.sections-menu a,
    div.top-right-menu a
      @extend %text-decor-none


  .switch-theme-color
    width: 56px
    height: 25px
    position: relative
    padding: 0px
    border: 1px solid $dark-primary-color
    display: flex
    border-radius: 35px
    direction: ltr
    // display: inline-block
    input[type=checkbox]
      height: 0
      width: 0
      opacity: 0
    input[type=checkbox] + .slider:before
      transform: translateX(0px)
      transition: .4s

    input[type=checkbox]:checked + .slider:before
      transform: translateX(31px)
      transition: .4s
    
      
    .slider
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      // background: white
      display: flex
      align-items: center
      justify-content: space-between
      *
        z-index: 1
        padding: 0px 5px
    .slider:before
      position: absolute
      content: ""
      width: 21px
      height: 21px
      top: 1px
      left: 1px
      background: $dark-primary-color
      border: 1px solid $dark-primary-color
      border-radius: 30px

    input[type=checkbox] + .slider
      .icon.fa-sun
        color: white
      .icon.fa-moon
        color: $light-primary-color
    input[type=checkbox]:checked + .slider
      .icon.fa-sun
        color: $light-primary-color
      .icon.fa-moon
        color: white

  header.header    
    .inner
      .mobile-menu-icon
        z-index: 2
        display: none
        color: var(--font-color)
    nav.navbar>.inner
      display: flex
      justify-content: space-between
      div.sections-menu>ul, div.top-right-menu, div.top-right-menu>ul.address-menu-list
        display: flex
      div>ul
        list-style: none

      div.sections-menu ul.menu-list, 
      div.top-right-menu ul.address-menu-list,
      div.top-right-menu ul.theme-menu-list
        padding: 0px

      div.sections-menu
        ul.menu-list
          li.menu-item
            @extend %button-primary, %btn-sm
            // margin: 0px 8px
          li.menu-item.active
            @extend %button-primary-active

      div.top-right-menu
        ul.address-menu-list
          li.menu-item
            padding: 5px 3px
            margin: 0px 3px
            color: var(--font-color)
        ul.theme-menu-list
          padding-left: 20px
          li.menu-item
            margin: 0px 5px

  section.hero .inner
    color: var(--font-color)
    height: 80vh
    display: flex
    justify-content: space-around
    align-items: center
    .main_heading
      margin: 20px 0px
    .right
      background-image: url($BASE_URL+'/assets/images/profile.png')
      background-repeat: no-repeat
      width: 40%
      height: inherit
      max-width: 500px
      min-width: 300px
      background-size: contain
      background-position: center
    .left
      .buttons
        margin-top: 35px
        display: flex
        gap: 12px
        button.button-primary
          @extend %button-primary-active, %btn-lg
          transition: .4s
        button.button-primary:hover
          @extend %button-outline-primary, %button-glow-primary
          transition: .4s
        button.button-outline-primary
          @extend %button-outline-primary, %btn-lg
        button.button-outline-primary:hover
          @extend %button-glow-primary

  section.services
    .inner
      .container
        .card.service
          max-width: 300px
          color: var(--font-color)
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3)
          // background-color: var(--primary-color)
          justify-items: center
          display: grid
          padding: 15px 20px
          border-radius: 5px
          border: 2px solid transparent
          transition: .2s
          cursor: pointer
          &:hover
            transition: .2s
            border-color: var(--primary-color)
          i.icon
            font-size: 48px
            padding: 15px

  section.projects
    .inner
      .container
        text-align: left
        .card.project
          width: 280px
          height: 500px
          background-size: cover !important
          border-radius: 10px
          mix-blend-mode: luminosity
          display: grid
          align-items: end
          overflow: hidden
          box-shadow: 0px 0px 10px rgb(0 0 0 / 50%)
          &:hover
            mix-blend-mode: normal
            .content
              transition: .2s
              top: 0px
          .content
            padding: 0px 10px
            display: grid
            align-content: center
            transition: .2s
            height: 150px
            top: 150px
            position: relative
            justify-items: start
            background-color: rgb(23 174 157 / 80%)
            .icons
              display: flex
              justify-content: end
              padding: 5px
              gap: 5px
              .icon
                background-color: white
                border-radius: 50%
                padding: 4px
              span
                background-size: contain !important
                display: block
                height: 20px
                width: 20px
              .playstore
                background-image: url(../assets/images/platforms/playstore.png)
              .applestore
                background-image: url(../assets/images/platforms/appstore.png)
              .website
                background-image: url(../assets/images/platforms/website.png)
              .cms
                background-image: url(../assets/images/platforms/cms.png)
            .description, .title
              color: white
            .head
              display: flex
              justify-content: space-between
              align-items: center
              width: 100%
            .description
              overflow: hidden
              display: -webkit-box
              -webkit-line-clamp: 3
              -webkit-box-orient: vertical

  section.comming-soon
    .inner
      display: flex
      color: var(--primary-color)
      justify-content: center
      h2
        -webkit-text-stroke: 1.5px var(--font-color)
        text-align: center

@media (max-width: 950px)
  body#body>*>.inner
    padding: 1rem
  body#body>section.section
    padding: 1rem 0px 0px


  body#body
    header.header
      width: 100%
      height: 35px
      position: relative
      right: 0px
      .inner
        padding: 0px
        direction: rtl
        .mobile-menu-icon
          display: block
          font-size: 24px
          height: fit-content
          position: fixed
          right: 10px
          top: 6px
          cursor: pointer

        nav.navbar.active
          transition: all .4s
          visibility: visible
          width: 100vw
        nav.navbar>*
          transition: all .4s
          padding: 0px
        nav.navbar.active>*
          transition: all .4s
          padding: 10px
        nav.navbar      
          border-bottom: 3px solid var(--primary-color)
          top: 0px
          transition: all .4s
          // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3)
          overflow: hidden
          width: 0px
          height: auto
          position: fixed
          background: var(--secondary-color)
          display: block
          border-bottom-left-radius: 10px
          .inner
            margin-top: 20px
            display: block
            div.sections-menu>ul, div.top-right-menu, div.top-right-menu>ul.address-menu-list
              display: block
    section.hero .inner
      height: fit-content
      display: grid
      text-align: center
      justify-items: center
      .left
        .buttons
          justify-content: center
      .right
        height: 400px
        width: 100%
        margin: 25px 0px
    
    section.services
      .inner
        .container
          display: grid